accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
appdirs
attrs
beautifulsoup4
cbor2
certifi
charset-normalizer
click
colorama
colorlog
datasets
defusedxml
dill
diskcache
distro
docling
docling-core
docling-ibm-models
docling-parse
docstring_parser
et_xmlfile
eval_type_backport
Faker
fastapi
filelock
filetype
frozenlist
fsspec
greenlet
groq
grpcio
grpclib
h11
h2
hpack
httpcore
httpx
httpx-sse
huggingface_hub
hyperframe
idna
importlib_metadata
instructor
Jinja2
jiter
jsonlines
jsonpatch
jsonpath-python
jsonpointer
jsonref
jsonschema
jsonschema-specifications
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-protocol
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
latex2mathml
lxml
markdown-it-py
marko
MarkupSafe
mdurl
mistralai
modal
mpire
mpmath
multidict
multiprocess
nest-asyncio
networkx
numpy
omegaconf
openai
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-semantic-conventions
orjson
ormsgpack
packaging
pandas
pillow
pluggy
polyfactory
portalocker
propcache
protobuf
psutil
pyarrow
pyclipper
pydantic
pydantic-settings
pydantic_core
Pygments
pylatexenc
pypdf
pypdfium2
python-dateutil
python-docx
python-dotenv
python-pptx
pytz
PyYAML
qdrant-client
ragas
rapidocr
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rtree
safetensors
scikit-network
scipy
semchunk
setuptools
shapely
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
synchronicity
tabulate
tenacity
tiktoken
tokenizers
toml
# torch --index-url https://download.pytorch.org/whl/cpu
# torchvision
tqdm
transformers
tree-sitter
tree-sitter-c
tree-sitter-javascript
tree-sitter-python
tree-sitter-typescript
typer
types-certifi
types-toml
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
watchfiles
websockets
xlsxwriter
xxhash
yarl
zipp
zstandard
python-multipart
